.App {
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.grey-wrapper{
  background-color: lightgray;
  position: relative;
  height: 250px;
  margin-bottom: 200px;
}


.intro-wrapper{
  background-color: whitesmoke;
  position: absolute;
  top: 150px;
  margin: 10px 36px;
  padding: 20px;
}

.work-intro{
  width: 75%;
}

.introduction{
  width: 60%;
}

.contact-info{
  width: 50%;
}


